{{set . "title" "Home"}} {{template "header.html" .}}

<div class="row-fluid">
<div class="span2">
</div>
<div class="span10">
    <h1>Files</h1>

    <div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        </ul>
    </div>
    </div>

    <table class="table">
        <thead>
            <th>Filename</th>
            <th>Size</th>
        </thead>
        <tbody>
            {{range .links}}
            <tr>
            <td><a href="{{.Self}}">{{.Name}}</a></td>
            <td></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
</div>

{{template "footer.html" .}}
